/*-- Colors --*/

:root{ 
    --white--clr: rgb(255, 255, 255);
    --black--clr: rgb(0, 0, 0);

    --soft-blue--clr: hsl(215, 51%, 70%);
    --cyan--clr: hsl(178, 100%, 50%);

    --very-dark-blue-1--clr: hsl(217, 54%, 11%);
    --very-dark-blue-2--clr: hsl(216, 50%, 16%);
    --very-dark-blue-3--clr: hsl(215, 32%, 27%);
}